@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif&family=Playfair+Display&family=Poppins:wght@300;700&family=Roboto&family=Roboto+Serif:opsz,wght@8..144,400;8..144,500;8..144,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(103, 199, 255);
  font-family: "Roboto", sans-serif;
  min-height: 50vh;
}
.container {
  max-width: 700px;
  min-height: 400px;
  margin: 100px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.3);
}
.list {
  margin: auto;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: rgb(75, 189, 255);
  width: 70px;
  height: 40px;
  line-height: 40px;
  font-size: 28px;
}
.button:hover {
  background-color: rgb(145, 215, 255);
  cursor: pointer;
}
.display {
  border: none;
  height: 40px;
  width: 550px;
  font-size: 20px;
  outline: none;
  padding: 5px;
  background-color: rgb(228, 228, 228);
}

.display,
.button {
  margin-top: 10px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.3);
}
h2 {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 10px;
}
h1 {
  font-size: 45px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}
.credit {
  width: 420px;
  color: rgb(0, 0, 0);
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(177, 177, 177);
}
.credit a {
  text-decoration: none;
  color: rgb(59, 160, 255);
}
.credit a:hover {
  color: rgb(137, 198, 255);
}

h1,
h2 {
  color: rgb(0, 0, 0);
}
.todolist {
  color: rgb(255, 255, 255);
  background-color: rgb(59, 160, 255);
  width: 400px;
  height: auto;
  line-height: 30px;
  font-size: 18px;
  margin: 10px auto;
  box-sizing: border-box;
  border-radius: 10px;
  overflow-wrap: break-word;
  padding: 2px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.3);
}
.todolist:hover {
  cursor: pointer;
}
.display::-webkit-input-placeholder {
  padding-left: 5px;
  opacity: 0.5;
  font-family: "Roboto", sans-serif;
}

.guide {
  font-size: 16px;
  color: rgb(255, 255, 255);
  width: 400px;
  margin: 10px auto;
  background-color: rgb(59, 160, 255);
  padding: 7px;
  border-radius: 10px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 360px) {
  .container {
    width: 340px;
  }
  .list {
    width: 290px;
  }
  .display {
    width: 290px;
    font-size: 18px;
  }
  .todolist {
    width: 290px;
    font-size: 15px;
  }
  h1 {
    font-size: 40px;
  }
  .credit {
    width: 290px;
  }
  h2 {
    font-size: 18px;
  }
  .desc {
    font-size: 15px;
  }
  .guide {
    width: 290px;
    font-size: 15px;
  }
}
